## import pandas

In [22]:
import pandas as pd

## reading csv file and creating two columns

In [23]:
header = ["datetime", "user"]
df = pd.read_csv('../data/feed-views.log',sep='\t',header=None,names=['datetime', 'user'],parse_dates=['datetime'])

In [24]:
df.head()

                    datetime   user
0 2020-04-17 12:01:08.463179  artem
1 2020-04-17 12:01:23.743946  artem
2 2020-04-17 12:27:30.646665  artem
3 2020-04-17 12:35:44.884757  artem
4 2020-04-17 12:35:52.735016  artem

## Checking the type of datetime column

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1076 entries, 0 to 1075
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  1076 non-null   datetime64[ns]
 1   user      1076 non-null   object
dtypes: datetime64[ns](1), object(1)
memory usage: 16.9+ KB

## creating new column daytime with values from the dataframe

In [26]:
df['year'] = df['datetime'].dt.year
df['month'] = df['datetime'].dt.month
df['day'] = df['datetime'].dt.day
df['hour'] = df['datetime'].dt.hour
df['minute'] = df['datetime'].dt.minute
df['second'] = df['datetime'].dt.second

In [27]:
df.head()

                    datetime   user  year  month  day  hour  minute  second
0 2020-04-17 12:01:08.463179  artem  2020      4   17    12       1       8
1 2020-04-17 12:01:23.743946  artem  2020      4   17    12       1      23
2 2020-04-17 12:27:30.646665  artem  2020      4   17    12      27      30
3 2020-04-17 12:35:44.884757  artem  2020      4   17    12      35      44
4 2020-04-17 12:35:52.735016  artem  2020      4   17    12      35      52

In [28]:
labels = ['night', 'early morning', 'morning',
          'afternoon', 'early evening', 'evening']
bins = [0, 4, 7, 11, 17, 20, 24]
df["daytime"] = pd.cut(df["hour"], bins = bins, labels = labels,include_lowest = True, right=False)

In [29]:
df.head()

,datetime,user,year,month,day,hour,minute,second,daytime
0,2020-04-17 12:01:08.463179,artem,2020,4,17,12,1,8,afternoon
1,2020-04-17 12:01:23.743946,artem,2020,4,17,12,1,23,afternoon
2,2020-04-17 12:27:30.646665,artem,2020,4,17,12,27,30,afternoon
3,2020-04-17 12:35:44.884757,artem,2020,4,17,12,35,44,afternoon
4,2020-04-17 12:35:52.735016,artem,2020,4,17,12,35,52,afternoon

## calculate the number of elements in your dataframe

In [30]:
df.count()

datetime    1076
user        1076
year        1076
month       1076
day         1076
hour        1076
minute      1076
second      1076
daytime     1076
dtype: int64

## calculate the number of elements in each time of day category

In [31]:
df["daytime"].value_counts()

evening          509
afternoon        252
early evening    145
night            129
morning           36
early morning      5
Name: daytime, dtype: int64

## sort values in your dataframe by hour, minute, and second in ascending order (simultaneously and not one by one)

In [32]:
df = df.sort_values(['hour', 'minute', 'second'])
df.head()

,datetime,user,year,month,day,hour,minute,second,daytime
944,2020-05-15 00:00:13.222265,valentina,2020,5,15,0,0,13,night
945,2020-05-15 00:01:05.153738,valentina,2020,5,15,0,1,5,night
563,2020-05-12 00:01:27.764025,pavel,2020,5,12,0,1,27,night
564,2020-05-12 00:01:38.444917,pavel,2020,5,12,0,1,38,night
565,2020-05-12 00:01:55.395042,pavel,2020,5,12,0,1,55,night

## calculate the minimum and maximum for the hours and the mode for the daytime categories

In [33]:
max = df[df['daytime'] == 'night']['hour'].max()
print(max)

3

In [34]:
min = df[df['daytime'] == 'morning']['hour'].min()
print(min)

8

In [35]:
df[(df['hour'] == df[df['daytime'] == 'night']['hour'].max())]

,datetime,user,year,month,day,hour,minute,second,daytime
46,2020-04-19 03:23:35.471598,konstantin,2020,4,19,3,23,35,night
47,2020-04-19 03:23:55.473926,konstantin,2020,4,19,3,23,55,night
48,2020-04-19 03:33:07.757714,konstantin,2020,4,19,3,33,7,night

In [36]:
df[(df['hour'] == df[df['daytime'] == 'morning']['hour'].min())]

,datetime,user,year,month,day,hour,minute,second,daytime
963,2020-05-15 08:16:03.918402,alexander,2020,5,15,8,16,3,morning
964,2020-05-15 08:35:01.471463,alexander,2020,5,15,8,35,1,morning

In [37]:
df['hour'].mode()

0    22
Name: hour, dtype: int64

In [38]:
df['daytime'].mode()

0    evening
Name: daytime, dtype: category
Categories (6, object): ['night' < 'early morning' < 'morning' < 'afternoon' < 'early evening' < 'evening']

## show the 3 earliest hours in the morning and the corresponding usernames and the
## 3 latest hours and the usernames using nsmallest() and nlargest()

In [39]:
df[df['daytime'] == 'morning'].nsmallest(3, ['hour', 'minute', 'second'])

,datetime,user,year,month,day,hour,minute,second,daytime
963,2020-05-15 08:16:03.918402,alexander,2020,5,15,8,16,3,morning
964,2020-05-15 08:35:01.471463,alexander,2020,5,15,8,35,1,morning
965,2020-05-15 09:02:24.999438,alexander,2020,5,15,9,2,24,morning

In [40]:
df[df['daytime'] == 'morning'].nlargest(3, ['hour', 'minute', 'second'])

,datetime,user,year,month,day,hour,minute,second,daytime
14,2020-04-18 10:57:37.331258,konstantin,2020,4,18,10,57,37,morning
229,2020-05-09 10:56:59.161519,konstantin,2020,5,9,10,56,59,morning
13,2020-04-18 10:56:55.833899,maxim,2020,4,18,10,56,55,morning

## get the statistics for the columns using describe()

In [41]:
df.describe()

         year        month          day         hour       minute       second
count  1076.0  1076.000000  1076.000000  1076.000000  1076.000000  1076.000000
mean   2020.0     4.870818    13.552974    16.249071    29.629182    29.500929
std       0.0     0.335557     4.906567     6.955490    17.689388    17.405506
min    2020.0     4.000000     1.000000     0.000000     0.000000     0.000000
25%    2020.0     5.000000    11.000000    13.000000    14.000000    14.000000
50%    2020.0     5.000000    13.000000    19.000000    29.000000    30.000000
75%    2020.0     5.000000    15.000000    22.000000    46.000000    45.000000
max    2020.0     5.000000    30.000000    23.000000    59.000000    59.000000

## calculating interquartile range for the hour

In [42]:
iqr = df.describe()['hour'].loc['75%'] - df.describe()['hour'].loc['25%']
print(iqr)

9.0