## importing Pandas

In [1]:
import pandas as pd

## reading the csv file

In [2]:
header = ["datetime", "user"]
df = pd.read_csv("../data/feed-views.log",names=header, sep="\t",
                skiprows=[2, 3],skipfooter=2,index_col='datetime',engine="python",header=None)

In [3]:
df.head()

                              user
datetime
2020-04-17 12:01:08.463179   artem
2020-04-17 12:01:23.743946   artem
2020-04-17 12:35:52.735016   artem
2020-04-17 12:36:21.401412  oksana
2020-04-17 12:36:22.023355  oksana

## renaming datetime to date_time

In [4]:
df.index.name="date_time"
df.head()

                              user
date_time
2020-04-17 12:01:08.463179   artem
2020-04-17 12:01:23.743946   artem
2020-04-17 12:35:52.735016   artem
2020-04-17 12:36:21.401412  oksana
2020-04-17 12:36:22.023355  oksana

## saving to_csv

In [5]:
df.to_csv("data/feed-views-semicolon.log", sep=";")