## Import panda

In [1]:
import pandas as pd

## reading the csv and making id the index column

In [2]:
df = pd.read_csv('../data/auto.csv')
df.set_index("ID", inplace=True)

## count the number of observations using the count() method

In [3]:
df.count()

CarNumber       931
Make_n_model    931
Refund          914
Fines           869
History          82
dtype: int64

## drop the duplicates taking into account: CarNumber, Make_n_model, Fines

In [4]:
df = df.drop_duplicates(['CarNumber', 'Make_n_model', 'Fines'], keep='last')
df.head()

       CarNumber  Make_n_model  Refund   Fines  History
ID
0   Y163O8161RUS    Ford Focus     2.0  3200.0      NaN
1    E432XX77RUS  Toyota Camry     1.0  6500.0      NaN
2    7184TT36RUS    Ford Focus     1.0  2100.0      NaN
3   X582HE161RUS    Ford Focus     2.0  2000.0      NaN
5   92918M178RUS    Ford Focus     1.0  5700.0      NaN

## check how many values are missing from each column

In [5]:
df.isnull().sum()

CarNumber         0
Make_n_model      0
Refund           12
Fines            60
History         660
dtype: int64

## drop all the columns with over 500 missing values using the argument thresh

In [6]:
df = df.dropna(thresh=500, axis=1)
df.isnull().sum()

CarNumber        0
Make_n_model     0
Refund          12
Fines           60
dtype: int64

## replace all the missing values in the Refund column with the previous value in
## that column for that cell

In [7]:
df['Refund'] = df['Refund'].fillna(method = 'ffill')
df.isnull().sum()

CarNumber        0
Make_n_model     0
Refund           0
Fines           60
dtype: int64

## replace all the missing values in the Fines column with the mean value

In [8]:
df['Fines'] = df['Fines'].fillna(df['Fines'].mean())
df.isnull().sum()

CarNumber       0
Make_n_model    0
Refund          0
Fines           0
dtype: int64

## split and parse the make and model, save the file

In [9]:
def get_make(string):
    string = string.split()
    make = string[0]
    return make

def get_model(string):
    string = string.split()
    model = None
    if len(string) > 1:
        model = string[1]
    return model

In [10]:
df['Make'] = df['Make_n_model'].apply(get_make)
df['Model'] = df['Make_n_model'].apply(get_model)
df.head()

       CarNumber  Make_n_model  Refund   Fines    Make  Model
ID
0   Y163O8161RUS    Ford Focus     2.0  3200.0    Ford  Focus
1    E432XX77RUS  Toyota Camry     1.0  6500.0  Toyota  Camry
2    7184TT36RUS    Ford Focus     1.0  2100.0    Ford  Focus
3   X582HE161RUS    Ford Focus     2.0  2000.0    Ford  Focus
5   92918M178RUS    Ford Focus     1.0  5700.0    Ford  Focus

In [11]:
df = df.drop(["Make_n_model"], axis=1)
df.head()

       CarNumber  Refund   Fines    Make  Model
ID
0   Y163O8161RUS     2.0  3200.0    Ford  Focus
1    E432XX77RUS     1.0  6500.0  Toyota  Camry
2    7184TT36RUS     1.0  2100.0    Ford  Focus
3   X582HE161RUS     2.0  2000.0    Ford  Focus
5   92918M178RUS     1.0  5700.0    Ford  Focus

In [12]:
df.to_json('../data/auto.json', orient='records')